/*background image*/
body, html {
    height: 100%;
    margin: 0;
    background-image: url(https://wallpapercave.com/wp/OZLYsgd.jpg);
    background-size: cover;
}
/*form to enter new celebs*/
#people-form {
    float: right;
    background-color: rgb(35, 35, 53, 0.75);
    color: silver;
    padding: 10px;
    border: 2px solid silver;
}
/*title*/
h1 {
    background-color: rgb(35, 35, 53, 0.75);
    color: red;
    text-align: center;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8px;
}
/*gifs box background*/
#gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(35, 35, 53, 0.75);
    color: silver;
}
/*margin to space the gifs*/
.gif {
    margin-right: 10px;
}